
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>

 <div ng-controller="checkoutCtrl">
 	<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
<div class="home" style="margin:0px; padding:0; ">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="user-dashboard">
        <h2>REVIEW YOUR ORDER</h2>   
</div>



<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">                 <!--ul.setup-panel li a  .setup-content-->
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                    <h4 class="list-group-item-heading">Step 1</h4>
                    <p class="list-group-item-text">Confirm your order</p>
                </a></li>
                <li class="disabled"><a href="#step-2">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text">Review status</p>
                </a></li>
                <li class="disabled"><a href="#step-3">
                    <h4 class="list-group-item-heading">Step 3</h4>
                    <p class="list-group-item-text">Payment</p>
                </a></li>
            </ul>
        </div>
    </div>


    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <h1> STEP 1</h1>
                <p> Verify the below details and click on "submit" for review </p>
                <div class="container-fluid">
					  <div class="panel panel-default">
					    <div class="panel-heading">{{data.project}}</div>
					    <div class="panel-body">  
                        <!--
                        <input type="file" value="internal file" id="fileselect" onchange="checkoutCtrl.load_local_file(this.files[0]);">-->

                        <iframe id="vs_iframe" src="https://www.viewstl.com/?embedded" style="border:0;margin:0;width:100%;height:100%;"></iframe>

    					<pre>Material : {{data.material}}</pre>
    					<pre>Process : {{data.process}}</pre>
    					<pre>Expected Cost : {{data.cost}}</pre>

					    </div>
					  </div>
				</div>              

                <button id="activate-step-2" class="btn btn-primary btn-lg " ng-click="review()">Submit For Review</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <h1 class="text-center">Project review</h1>
                    <div class="alert alert-danger">
                        <strong>Your project is under review! </strong> Please allow atleast 1 business day for the review.
                    </div>
                    <div class="alert alert-success invisible">
                        <strong>Success! </strong> Review is complete and below are the updated details.

                    
                        <pre>Final cost : {{data.fcost}}</pre>
                        <pre>Comment : {{data.comment}}</pre>
                    </div>
                <button id="activate-step-3" class="btn btn-primary btn-lg"> Proceed to Pay</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <h1 class="text-center"> STEP 3</h1>





  <div class="container-fluid">

              <form  class="form-horizontal" id="paymentForm"  action='https://sandboxsecure.payu.in/_payment' method='post' style="align-items: center;"><!--secure.payu.in/_payment 

                
              -->

            <!-- Form Name -->
            <legend>Please provide the below details</legend>



                                <input type="hidden" name="key" value="{{mkey}}" />
                                <input type="hidden" name="txnid" value="{{txnid}}" />
                                <input type="hidden" name="amount" value="{{amount}}" />
                                <input type="hidden" name="productinfo" value="{{productInfo}}" />
                                <input type="hidden" name="firstname" value="{{firstName}}" />
                                <input type="hidden" name="email" value="{{email}}" />
                                <input type="hidden" name="phone" value="{{phone}}" />
                                <input type="hidden" name="surl" value="http://localhost:8080/api/PaymentStatus" />
                                <input type="hidden" name="furl" value="http://localhost:8080/api/PaymentStatus" />
                                <input type="hidden" name="hash" id="hash" value="{{hash}}">
                                <input type="hidden" name="service_provider" value="{{service_provider}}">



            <!-- Text input-->
                  
            <div class="form-group">
              <label class="col-md-4 control-label">Address</label>  
                <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
              <textarea class="form-control" placeholder="Address" name="address1" ng-model="user.address1" required="true" value="{{user.address1}}"></textarea>
                
                </div>
              </div>
            </div>

            <!-- Text input-->
             
            <div class="form-group">
              <label class="col-md-4 control-label">City</label>  
                <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
              <input name="city" placeholder="city" class="form-control"  type="text" ng-model="user.city" required="true" value="{{user.city}}" >
                </div>
              </div>
            </div>

            <!-- Select Basic -->
               
            <div class="form-group"> 
              <label class="col-md-4 control-label">State</label>
                <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input class="form-control" placeholder="State" type="text" name="state" ng-model="user.state" required="true" value="{{user.state}}">

              </div>
            </div>
            </div>

            <div class="form-group"> 
              <label class="col-md-4 control-label">Country</label>
                <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-plane"></i></span>
                    <input class="form-control" placeholder="Country" type="text" name="country" ng-model="user.country"  required="true" value="{{user.country}}"/>

              </div>
            </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
              <label class="col-md-4 control-label">Pin Code</label>  
                <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search "></i></span>
              <input name="zipcode" placeholder="Pincode" class="form-control"  type="number" ng-model="user.zipcode" required="true" value="{{user.zipcode}}">
                </div>
            </div>
            </div>


            <div class="form-group">
              <label class="col-md-4 control-label">GST *</label>  
                <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
              <input name="udf1" placeholder="Company GST (optional)" class="form-control"  type="text" ng-model="user.gst" required="true" value="{{user.gst}}">
                </div>
            </div>
            </div>
            <h4> Rs {{amount}}</h4>

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-4">
                <button type="submit" class="btn btn-warning" ng-click="presubmit()" >PAYYYYY <span class="glyphicon glyphicon-send"></span></button>
              </div>
            </div>

            </fieldset>
            </form>
            </div>
    </div><!-- /.container -->
  
    
   
            </div>
        </div>
    </div>
</div>
</div>