<script src="http://code.angularjs.org/1.2.2/angular.min.js"></script> 
<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>

<div class="home" style="border: 150px;
    margin: 10px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 0px 18px 1px black;" ng-controller="dashCtrl as ctrl">
    <div class="user-dashboard">
        <div class="header-rightside">
            <ul class="list-inline header-top pull-left">
                <h2>My projects</h2>  
            </ul>
            <ul class="list-inline header-top pull-right" style="vertical-align: text-bottom; padding-top: 20px;">
                <li class="hidden-xs"><a href="#" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#add_project" style="text-transform: capitalize; border-radius: 10px; font-size: 15px;">ADD PROJECT</a></li>
            </ul>               
        </div>
    </div>
    </br></br></br></br>

    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove" style="font-size: 15px;"></span></button>
                    <h4 class="modal-title">Add Project</h4>
                </div>

                <div class="modal-body">                 
                           
                        <div ng-repeat="field in ctrl.fields  | limitTo:2">
                            <h5>{{field.label}}</h5> 
                            <input ng-model="ctrl.record[field.key]" class="form-control" placeholder="{{field.label}}"/>
                        </div>
                        

                        <h5>Quantity</h5> 
                            <input ng-model="ctrl.record.quantity" type="number" class="form-control" placeholder="Quantity"/>


                        <h5>Upload a .stl file</h5>
                        <input type="file" file-input="files" accept=".stl" id="reset3"/>
                        <li>{{file.name}}</li>


                         <h5>Process</h5>
                    <select ng-options="branch.id as branch.name for branch in branches"
                            ng-model="selectedBranchId"
                            ng-change="loadLocations(selectedBranchId)"
                            id="reset">
                      <option value="">Select Process</option>
                    </select>
                    <h5>Material</h5> 
                    <select ng-options="location.id as location.name for location in locations | filter: { branchId: selectedBranchId }"
                            ng-model="selectedLocationId"
                            ng-disabled="!selectedBranchId"
                            ng-change="loadMaterial(selectedLocationId)"
                            id="reset2">
                      <option value="">Select Material</option>
                    </select>


                </div>
                    <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal" >Close</button>
                    <button type="Submit" class="add-project" id="add-project" data-dismiss="modal" ng-click="ctrl.saveRecord()">Save </button>
                    </div>
                </div>
        
        </div>
    </div>
            <style type="text/css">
                .css-serial {
                  counter-reset: serial-number;  /* Set the serial number counter to 0*/
                }

                .css-serial td:first-child:before {
                  counter-increment: serial-number;  /* Increment the serial number counter */
                  content: counter(serial-number);  /* Display the counter */
                }
            </style>
            <style type="text/css">
            .btn-style{
                text-transform: uppercase;font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 700; background-color: #fff0;
            border-width: 1.5px; border-radius: 5px; border-color: #f0ad4e; color:#f0ad4e;
            }
                .btn-style:hover,active{
                    background-color: #f0ad4e;
                    color: #fff;
                    border-color: #f0ad4e;

                }

            </style>


            <table class="table css-serial">
                <thead style="background-color:#37474f; color: white;">
                    <tr>
                        <th>
                            Sl no.
                        </th>
                        <th ng-repeat="field in ctrl.fields | limitTo:7">
                            {{field.label}}
                        </th>
                        <th>
                            Quote
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Delete Project
                        </th>
                    </tr>
                </thead>

                <tr ng-repeat = "record in ctrl.records">
                    <td >

                    </td>

                    <td ng-repeat="field in ctrl.fields | limitTo:7">
                        {{record[field.key]}}
                    </td>
                    <td>
                        <span class="btn btn-sm btn-warning btn-style " ng-click="ctrl.quote(record._id)" aria-hidden="true" >Get Quote</span>
                    </td>
                    <td>
                        <a href="/dashcheckout" ><span class="btn btn-sm btn-warning" ng-click="ctrl.checkout(record._id)" aria-hidden="true" style="    text-transform: uppercase;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700; width: 110px; border-radius: 5px">Submit</span></a>
                    </td>
                    <td>
                        <!--<span ng-click="ctrl.editRecord(record)" class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-right: 10px;"></span>-->
                        <div class="glyphicon glyphicon-trash" ng-click="ctrl.deleteRecord(record._id)"  aria-hidden="true" style="padding-left: 20px;"></div>
                    </td>
                </tr>
            </table>

    <p style="font-size: 11px; margin-bottom: 0px; padding-bottom: 0px;border-bottom: 0px;">*Estimated cost may or maynot be the actual cost for 3D printing.</p>
    <p style="font-size: 11px; margin-top: 0px;padding-top: 0px">**Estimated cost will be revised and the actual cost will be provided in the next step.</p>
</div>