
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <div ng-controller="checkoutCtrl">
 	<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
<div class="home" style="margin:0px; padding:0; ">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="user-dashboard">
       </br> 
</div>



<div class="container">
    <div class="row form-group">
        <div class="col-xs-12">                 <!--ul.setup-panel li a  .setup-content-->
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                    <h4 class="list-group-item-heading">Step 1</h4>
                    <p class="list-group-item-text">Confirm your order</p>
                </a></li>
                <li class="disabled"><a href="#step-2">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text">Review status</p>
                </a></li>
                <li class="disabled"><a href="#step-3">
                    <h4 class="list-group-item-heading">Step 3</h4>
                    <p class="list-group-item-text">Payment</p>
                </a></li>
            </ul>
        </div>
    </div>


    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <h1>CONFIRM</h1>
                <p> Verify the below details and click on "submit" for review </p>
                <div class="container-fluid">
					  <div class="panel panel-default">
					    <div class="panel-heading">{{data.project}}</div>
					    <div class="panel-body">  
                <!--
                <input type="file" value="internal file" id="fileselect" onchange="checkoutCtrl.load_local_file(this.files[0]);">-->
                <iframe id="vs_iframe" src="https://www.viewstl.com/?embedded" style="border:0;margin:0;width:100%;height:100%;"></iframe>
       
    					 <pre>Material : {{data.material}}</pre>
    					 <pre>Process : {{data.process}}</pre>
    					 <pre>Expected Cost : {{data.cost}}</pre>

					    </div>
					  </div>
				</div>              

                <button id="activate-step-2" class="btn btn-primary btn-lg " ng-click="review()">Submit For Review</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <h1 class="text-center">REVIEW</h1>
                    <div class="alert alert-danger">
                        <strong>Your project is under review! </strong> Please allow atleast 1 business day for the review.
                    </div>
                    <div class="alert alert-success invisible">
                        <strong>Success! </strong> Review is complete and below are the updated details.

                    
                        <pre>Final cost : {{data.fcost}}</pre>
                        <pre>Comment : {{data.comment}}</pre>
                    </div>
                <button id="activate-step-3" class="btn btn-primary btn-lg invisible" ng-click="getuserdata();" > Proceed to Pay</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <h1 class="text-center">CHECKOUT</h1>
                <style type="text/css">
                body {
                  font-family: Arial;
                  font-size: 17px;
                  padding: 8px;
                }

                * {
                  box-sizing: border-box;
                }

                .row1 {
                  display: -ms-flexbox; /* IE10 */
                  display: flex;
                  -ms-flex-wrap: wrap; /* IE10 */
                  flex-wrap: wrap;
                  margin: 0 -16px;
                }

                .col-25 {
                  -ms-flex: 25%; /* IE10 */
                  flex: 25%;
                }

                .col-50 {
                  -ms-flex: 50%; /* IE10 */
                  flex: 50%;
                }

                .col-75 {
                  -ms-flex: 75%; /* IE10 */
                  flex: 75%;
                }

                .col-25,
                .col-50,
                .col-75 {
                  padding: 0 16px;
                }

                .container1 {
                  background-color: #f2f2f2;
                  padding: 5px 20px 15px 20px;
                  border: 1px solid lightgrey;
                  border-radius: 3px;
                }

                input[type=text] {
                  width: 100%;
                  margin-bottom: 20px;
                  padding: 12px;
                  border: 1px solid #ccc;
                  border-radius: 3px;
                }

                label {
                  margin-bottom: 10px;
                  display: block;
                }

                .icon-container {
                  margin-bottom: 20px;
                  padding: 7px 0;
                  font-size: 24px;
                }

                .btn {
                  background-color: #4CAF50;
                  color: white;
                  padding: 12px;
                  margin: 10px 0;
                  border: none;
                  width: 100%;
                  border-radius: 3px;
                  cursor: pointer;
                  font-size: 17px;
                }

                .btn:hover {
                  background-color: #45a049;
                }

                a {
                  color: #2196F3;
                }

                hr {
                  border: 1px solid lightgrey;
                }

                span.price {
                  float: right;
                  color: grey;
                }

                /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
                @media (max-width: 800px) {
                  .row {
                    flex-direction: column-reverse;
                  }
                  .col-25 {
                    margin-bottom: 20px;
                  }
                }
                </style>
                <!--cart-->
                <div class="row1">
                  <div class="col-50">
                    <div class="container1">
                         <h3><b>CART</b> <i class="fa fa-shopping-cart"></i> <span class="price" style="color:black"></h3>
                         </br>
                         <div class="row1">
                           
                              <div class="col-50">
                                    
                                        <h4 style="margin-top: 0px;">{{records.project_name}}</h4>
                              </div>
                              <div class="col-50">

                                    <p>Cost per item <span class="price">&#x20B9 {{amount1}}</span></p> 
                                    <p>Quantity <span class="price"> {{records.quantity}}</span></p>
                                    <p>Sub total  <span class="price">&#x20B9 {{records.cost_pregst}}</span></p>
                                    <p>GST (18%)  <span class="price">+ &#x20B9  {{igst}}</span></p>
                                    <hr>
                                    <p>Total <span class="price" style="color:black"><b>&#x20B9 {{amount}}</b></span></p>
                              </div>
                            </div>
                    </div>
                  </div>
                </div>
                <!--//cart-->
              </br>
<div class="row1">
  <div class="col-50">
    <div class="container1">
      <form  class="form-horizontal" id="paymentForm"  action='https://sandboxsecure.payu.in/_payment' method='post' style="align-items: center;"><!--secure.payu.in/_payment -->

        <input type="hidden" name="key" value="{{mkey}}" />
        <input type="hidden" name="txnid" value="{{txnid}}" />
        <input type="hidden" name="amount" value="{{amount}}" />
        <input type="hidden" name="productinfo" value="{{productInfo}}" />
        
        <input type="hidden" name="email" value="{{records.email}}" />
        <input type="hidden" name="phone" value="{{phone}}" />
        <input type="hidden" name="surl" value="http://localhost:8080/api/PaymentStatus" />
        <input type="hidden" name="furl" value="http://peaceful-journey-32238.herokuapp.com/api/PaymentStatus" />
        <input type="hidden" name="hash" id="hash" value="{{hash}}">
        <input type="hidden" name="service_provider" value="{{service_provider}}">
        
        <div class="row1">
          <div class="col-50">
            <h3><b>Billing Address</b></h3>
            <!--<input type="hidden" name="firstname" value="{{firstName}}" />-->
            <label for="user"><i class="fa fa-user"></i> Name</label>
            <input type="text" id="user" placeholder="Name" name="firstname" ng-model="firstname" required="true" value="{{firstname}}">

            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" placeholder="Address" name="address1" ng-model="records.bstreet" required="true" value="{{records.bstreet}}">

            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input name="city" placeholder="City" id="city"  type="text" ng-model="records.bcity" required="true" value="{{records.bcity}}" >

            <div class="row1">
              <div class="col-50">
                <label for="state"><i class="fa fa-map"></i> State</label>
                <input type="text" id="state" placeholder="State" name="address2" ng-model="records.bstate" required="true" value="{{records.bstate}}">
              </div>
              <div class="col-50">
                <label for="zip"><i class="fa fa-map-marker"></i> Pincode</label>
                <input type="number" style="width: 100%;margin-bottom: 20px;padding: 12px;border: 1px solid #ccc;border-radius: 3px;" id="zip" name="zipcode" placeholder="pincode" ng-model="records.bzip" value="{{records.bzip}}">
              </div>
            </div>

            <label for="country"><i class="fa fa-globe"></i> Country</label>
            <input name="country" placeholder="Country" id="country"  type="text" ng-model="records.bcountry" required="true" value="{{records.bcountry}}" >

            <label for="gst"><i class="fa fa-qrcode"></i> GST *</label>
            <input placeholder="Company GST (optional)" id="gst"  type="text" ng-model="records.gst" value="{{records.gst}}" >
      
            <input type="hidden" name="udf1" value="{{id}}">

          </div>

         <!-- <div class="col-50">
           <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container1">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div> 
          </div>-->
          
        </div>


            <div class="icon-container1" style="float: right;">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-credit-card-alt" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-diners-club" style="color:orange;"></i>
              <i class="fa fa-cc-amex" style="color:orange;"></i>
            </div> 
            <!--<input type="checkbox" ng-click="SetBilling(this.checked);"/>-->
            <p><input type="checkbox" ng-model="vm.myChkModel" ng-change="vm.SetBilling(vm.myChkModel)"> Shipping address is the same as billing address.</p>

            </div>
            <button type="submit" class="btn btn-warning" ng-click="presubmit()" id="customergst">Continue to checkout <span class="glyphicon glyphicon-send"></span></button>
      </form>
    
  </div>



  <!--billing-->
  <div class="col-50">
    <div class="container1">
      <form  class="form-horizontal" id="paymentForm1" style="align-items: center;"><!--secure.payu.in/_payment -->
        
        <div class="row1">
          <div class="col-50">
            <h3><b>Shipping Address</b></h3>
            <!--<input type="hidden" name="firstname" value="{{firstName}}" />-->

            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="sadr" placeholder="Address"  ng-model="records.sstreet">

            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input  placeholder="City" id="scity"  type="text" ng-model="records.scity" >

            <div class="row1">
              <div class="col-50">
                <label for="state"><i class="fa fa-map"></i> State</label>
                <input type="text" id="sstate" placeholder="State" ng-model="records.sstate">
              </div>
              <div class="col-50">
                <label for="zip"><i class="fa fa-map-marker"></i> Pincode</label>
                <input type="number" style="width: 100%;margin-bottom: 20px;padding: 12px;border: 1px solid #ccc;border-radius: 3px;" id="szip" placeholder="pincode" ng-model="records.szip">
              </div>
            </div>

            <label for="country"><i class="fa fa-globe"></i> Country</label>
            <input placeholder="Country" id="scountry"  type="text" ng-model="records.scountry">

          </div>
          
        </div>

      </form>
    </div>
  </div>
  <!--//billing-->
  
</div>










   
            </div>
        </div>
    </div>
</div>
</div>