<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="home" style="margin:0px; padding:0; ">

	<div class="alert alert-warning">
  		<strong>Warning!</strong> Indicates a warning that might need attention.
	</div>
    <div class="user-dashboard">

        <h2> FAILURE</h2>
    </div>

</div>