 <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
<!-- Heading -->
<div class="row text-center" style="margin-top: 50px;">
    <div class="container">
        <h2 class="section-heading">my Profile</h2>
    </div>
</div>
</br></br></br>
<!-- Heading -->
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;">{{name}}</div>
            <div class="panel-body">

                <table class="table">
                    <thead>
                      <tr>
                        <td>Name</td>
                        <td>{{name}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Email-Id</td>
                        <td>{{main.useremail}}</td>
                      </tr>
                      <tr>
                        <td>Phone</td>
                        <td>{{phone}}</td>
                      </tr>
                      <tr>
                        <td>Password</td>
                        <td>**********</td>
                      </tr>
                    </tbody>
                </table>



            </div>
        </div>

        <a href="/resetpassword"> <button class="btn btn-warning" style="width:100%; margin-bottom:5px;">CHANGE PASSWORD</button></a>
        <a href="/resetpassword"> <button class="btn btn-warning" style="width:100%; margin-top: 5px;">LOG OUT</button></a>
        
    </div>
    <div class="col-md-4"></div>
</div>
